:root {
    /* palette */
    --primary-color: #000000;
    --accent1-color: #0d47a1e6;
    --accent2-color: #00BFFF;
    --text-color: #f9f9f9ff;
    --secondary-text-color: #ff6347;
    --card-gradient: linear-gradient(135deg, #000000, #0d47a1e6, #000000);

    /* Fonts */
    --heading-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    background-color: var(--primary-color);
    color: var(--text-color);
    min-height: 100vh;
}

.container {
    max-width: 640px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 600;
    color: var(--accent2-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.4rem;
    border-bottom: solid 2px var(--accent1-color);
}

header>h1 {
    text-shadow: 2px 2px 2px var(--accent1-color);
}

.main_menu {
    display: flex;
    position: fixed;
    right: 2%;
    background: linear-gradient(120deg, var(--accent1-color), var(--accent2-color), var(--accent1-color));
    background-size: 240% 240%;
    height: fit-content;
    padding: .5rem;
    border-radius: .5rem;
    z-index: 100;
    top: -50%;
    transition: top .4s ease-in-out;
}

.main_menu>.menu__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: end;
    padding: 2rem .5rem;
    border-radius: .5rem;
    gap: 1.5rem;
    font: bold 1.3rem var(--heading-font);
    background-color: var(--primary-color);
    margin-top: 2.4rem;
}

.main_menu>.menu__list svg {
    color: var(--accent2-color);
    filter: drop-shadow(2px 2px 2px var(--accent1-color));
    width: 1.8rem;
    aspect-ratio: 1/1;
}

.menu__item .item__text {
    display: none;
}

.menu_button_open,
.menu_button_close {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1.8rem;
    cursor: pointer;
}

.menu_button_close {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    top: .5rem;
    background-color: var(--primary-color);
    height: fit-content;
    padding: .2rem .5rem;
    border-radius: .5rem;
    line-height: .6;
}


footer {
    text-align: center;
    font-size: .8rem;
    color: var(--secondary-text-color);
    margin-top: 2rem;
    border-top: solid 2px var(--accent1-color);
    padding-block: 1rem .5rem;
 
}

.social_media_list {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-bottom: .5rem;
}

.list__item {
    width: 2rem;
    cursor: pointer;
}

footer>nav>ul svg {
    width: 100%;
    aspect-ratio: 1/1;
}

.show {
    top: 3%;
}

.hidden {
    display: none;
}
