@media (min-width: 960px) {
    main{
        column-gap: 2%;
        padding: 2%;
        padding-top: 0;
    } 

    .events {
        width: 36%;  
        margin: 0;
    }

    .current_weather,
    .weather_forecast {
        margin: 0;
        width: 30%;  
    } 
}