@media (min-width: 960px) {
    main{
        column-gap: 2%;
        padding: 2%;
        padding-top: 0;
    } 

    .events {
        width: 36%;  
        margin: 0;
    }

    .current_weather,
    .weather_forecast {
        margin: 0;
        width: 30%;  
    } 
    
    footer{
        flex-wrap: nowrap;
        align-items: center;
        padding-inline: 5%;
    }

    footer > address{
        order: 1;
        flex-shrink: 0;
        width: fit-content;
    }

    footer > div{
       order: 3; 
       flex-shrink: 0;
       width: fit-content;
    }

    footer > .social_media{
        order: 2;
        
    }
}