@media (min-width: 640px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    footer>address {
        width: 45%;
        order: 2;
    }

    footer>div {
        width: 45%;
        order: 3;
        align-self: flex-end;
    }

    footer>.social_media {
        width: 100%;
        order: 1;
        padding-top: .5rem;
    }
}