@media (min-width: 768px) {
    /* desktop navbar */
    .nav_toggle {
        display: none;
    }

    nav.main_nav {
        display: flex;
        width: 100%;
        height: fit-content;
        position: static;
    }

    nav.main_nav ul {
        flex-direction: row;
        width: 100%;
    }

    nav.main_nav ul li {
        margin: 0 1rem;
        flex: 1;
        text-align: center;
    }

    nav.main_nav h2 {
        display: none;
    }

    /* Main desketop */

    main {
        display: grid;
        grid-template-columns: 1fr 1fr  1fr 1fr 1fr ;
        gap: 0 1.5rem;
        
    }

    h1, .courses{
        grid-column: 1 / -1;
    }
    
    .course_work{
        grid-column: 1 / 4; 
    }

    .place{
        grid-column: 4 / -1; 
    }

    .courses{
        margin-top: 1rem;
    }

    

    .courses, .place, .course_work{
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
        border-bottom-right-radius: .5rem;
        border-bottom-left-radius: .5rem;
    }

    ul.courses__list {
        grid-template-columns: 1fr 1fr 1fr ;
        padding-block: 1rem ;
        padding-inline: 1rem;
        gap: 1.4rem;
    }

}